.profile-intro {
  display: flex;
  flex-flow: column nowrap;
  padding-right: 0.5em;
  background-color: #343434;
  color:aliceblue;
  // padding: 1%;
  margin: 5%;
  border-radius: 5%;
}

.rounded-box {
  border-radius: 10px; /* Adjust the radius as needed for the desired roundness */
  border: 2px solid #333; /* Set the border color and width as needed */
  padding: 20px; /* Add padding for content inside the box */
  max-width: 600px; /* Set a maximum width for responsiveness */
  // margin: 0 auto; /* Center the box horizontally */

  /* Optional: Add box-shadow for a subtle lift effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-image-container {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid #3498db; /* Thin border color */
  border-radius: 50%;
  overflow: hidden;
}
.profile-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Adjust the size of the circular image as needed */
  height: auto;
  border-radius: 50%;
  z-index: 2;
}

.links {
  list-style-type: none;
  padding: 1.5em 0 0 0;

  li {
    display: flex;
    align-items: center; /* Vertical centering */
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    display: flex;
    align-items: center; /* Vertical centering */
    color: aliceblue;
    span{
        margin-left: 10px;
    } /* Adjust the color as needed */
  }
}
