body{
  /* padding: 1em 2em; */
  /* background-color: #FFFBF5; */
  /* background-color:  */
  background: url('./assets/images/backdrop/backdrop1.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}

h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}

h4{
  font-family: 'Raleway', sans-serif;
}

p{
  font-family: 'Lato', sans-serif;
}

li{
  font-family: 'Roboto', sans-serif;
}